.footer {
  display: flex;
  flex-direction: column;
  background-color: rgb(41, 36, 36);
  color: white;
  width: 100%;
}

.footer-content {
  display: flex;
  width: 100%;
  padding: 3%;
}

.footer-section {
  width: 25%;
  padding: 0 1%;
}

.footer-section ul{
  list-style-type: none;
}

.footer-section li{
  margin-bottom: 1%;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  padding: 0 3%;
}

.footer-logo img {
  width: 91px;
  height: 31px;
}


@media (max-width: 800px) {
  .footer-section {
    width: 25%;
  }
}


@media (max-width: 500px) {
  .footer-section {
    width: 30%;
    font-size: 12px;
  }
}